body {
  font-family: 'Gloria Hallelujah';
  font-size: 22px;
  margin-bottom: 100px
}

.navbar-header a {
  font-size: 30px;
  padding: 25px;
  margin: 0px
}

.navbar-default {
  margin: 0px
}

.navbar-nav {
  padding: 10px;
  font-size: 20px;
  margin: 0px;
}

.intro {
  text-align: center;
  margin: 20px;
  font-size: 50px
}

.page-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(crayon.png);
  background-size: auto;
  background-repeat: round;
  height: 300px;
  text-align: center;
  vertical-align: middle;
  color: white;
  margin: 0px;
  font-size: 70px
}

.logo img {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px
}

.create-link a {
  background-color: #4d0026;
  color: silver;
  text-decoration: none;
  padding: 5px;
  font-size: 25px;
  margin: 0px 40px
}

.create-link a:hover {
  text-decoration: underline;
  color: white
}

.info {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px
}

.button a {
  box-shadow: 2px 2px;
  background-color: purple;
  color: white;
  width: 25%;
  height: 30px;
  padding: 3px;
  font-size: 18px;
  border: solid;
  border-width: 1px;
}

.button {
  text-align: center;
  margin: 20px;
}

.form {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px
}

.notice {
  text-align: center;
  font-size: 20px;
  background-color: darkred;
  margin: 10px 500px;
  padding: 10px;
  color: white
}

.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center
}

.box {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin: 25px 60px;
  text-align: center;
  border: solid;
  padding: 10px;
  margin: 20px;
  background-color: lightgreen
}

.new a {
  box-shadow: 2px 2px;
  background-color: blue;
  color: lightgray;
  width: 15%;
  height: 30px;
  padding: 3px;
  font-size: 18px;
  border: solid;
  border-width: 1px;
}

.new {
  margin-top: 20px;
  text-align: center
}
