<div class="page-header">
  All Users
</div>

<%= render partial: "partial/flash" %>

<div class="new">
  <%= link_to "Create a New User", new_user_path %>
</div>

<div class="info">
  <% @users.each do |user| %>
  <div>
    <%= link_to user.username, admin_user_path(user) %>
  </div>
  <% end %>
</div>
